{% extends "blog/base.html" %}

{% block content %}
<img class="slides" src="/media/Ejukate.png" width="100%">


<main role="main" class="container">
<div id="about" class="w3-container w3-padding-32">
<h1 class="w3-center">What we do</h1>
<p>This is our band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

</main>
{% endblock content %}